* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(206, 240, 240);
    text-align: center;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .section {
    margin: 0 auto;
    width: 100%;
    padding-top: 3rem;
  }

  li {
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    color: rgb(6, 6, 48);
    margin-left: 70px;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0 20px;
    line-height: 40px;
    transition: .3s;
  }

  html {
    scroll-behavior: smooth;
    width: 70%;
    margin-left: auto;
    margin-right: auto; 
    background-color: rgb(146, 228, 228);
  }

  header, footer {
    background-color: rgba(34, 219, 172, 0.941);
  }

  footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: rgb(3, 3, 83);
    text-transform: uppercase;
    padding: 1rem 0;
  }

  h2 {
    color:rgb(69, 69, 123);
    text-transform: uppercase;
    padding: 1rem 0;
  }

  .nav-item {
    display: inline;
    margin-right: 10px;
    font-size: 18px;
  }

  .code {
    text-align: left;
    font-size: 20px;
  }

  .github-icon, .rs-icon {
    margin-left: 30px;
  }

  .kata {
    text-align: left;
    margin-left: 40px;
    margin-right: 30px;
    color: rgb(71, 4, 4);
  }
  
  p {
    font-size: 20px;
  }

  a {
    text-decoration: none;
  }
  
  .project {
    font-size: 25px;
    color: red;
  }

  .summary {
    font-style: italic;
    color: rgb(30, 30, 69);
    font-size: 25px;
    margin-left: 40px;
    margin-right: 30px;
  }